.blogmetn1 {
    margin-top: 150px;
    margin-left: 350px;
    font-size: 1.2em;
}

.blogmetnbaslik {
    margin-left: 346px;
}

.blogmetn2devam {
    margin-left: 350px;
    font-size: 1.2em;
}

.list1 {
    margin-left: 347px;
    font-size: 1.2em;

}

.list1 li {
    margin-bottom: 18px;
}



.blogmetn2 {
    margin-top: 20px;
    margin-left: 350px;
    font-size: 1.2em;
}

.blogmetn2baslik {
    margin-left: 346px;
}

.list2 {
    font-size: 1.2em;
    margin-left: 347px;
}

.list2 li {
    margin-bottom: 18px;
}

.blogmetn4baslik {
    margin-left: 346px;
}

.blogmetn4 {
    margin-top: 1;
    margin-left: 350px;
    font-size: 1.2em;
}

.list4 {
    font-size: 1.2em;
    margin-left: 347px;
}

.list4 li {
    margin-bottom: 18px;
}

.blogmetnson {
    margin-left: 350px;
    margin-top: 1;
    font-size: 1.2em;
}