.dj {
margin-top: 50px;
margin-left: 70px;
}

.baslik {
color: rgb(0, 0, 102);
font-size: 1.7em;
}

.djmetn1 {
color: rgb(82, 179, 82);
font-size: 1.1em;
}

.djmetn2 {
font-size: 1.1em;
color: rgb(82, 82, 82);
padding-top: 20px;
}

.djmetn3 {
font-size: 1.1em;
color: rgb(82, 82, 82);
padding-top: 12px;
}

.djmetn4 {
font-size: 1.1em;
color: rgb(82, 82, 82);
padding-top: 15px;
}

